<div>
  <h1>Sample with all country</h1>
  <intl-input-phone [NumberTextValue]="'8602605927'" [SelectedCountryISOCode]="'US'" [ConfigurationOption]="configOption2" ></intl-input-phone>
</div>



<div>
  <h1>Sample with selected country</h1>
  <intl-input-phone [CountryList]="selectedCountryList"  [ConfigurationOption]="configOption1" (OnNumberChange)="onNumberChange($event)"></intl-input-phone>
</div>

<form [formGroup]="sampleForm">


<div>
  <h1>Sample with Reactive Form Support</h1>
  <intl-input-phone formControlName="sampleReactiveControl" [ConfigurationOption]="configOption3" ></intl-input-phone>
</div>
<button class="btn btn-primary" (click)="ToggbleEnableDisableState()" >Toggle Enable/Disable</button>
<button (click)="GetFormValue()">Get Value Using FormGroup</button>
</form>